node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml
*.hprof
/android/app/build/
/android/app/release/ 